

.form-row-one {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#leasingForm {
    display: flex;
    flex-direction: column;
}

